* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

h1 {
    margin: 10px 0;
}

h2 {
    margin-bottom: 20px;
}

article>p {
    margin-top: 10px;
}

figure {
    margin: 20px 0;
}

body.no-scroll {
    overflow-y: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.text {
    margin-top: 10px;
}

.banner {
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
}

.dots .dot {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: #004bff;
    border-radius: 50%;
    cursor: pointer;
    animation: circle-inner 2s infinite ease-out;
}

.dots .dot:before {
    content: "";
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #004bff;
    position: absolute;
    opacity: 0.3;
    animation: circle-middle 2s infinite ease-out;
    left: -12px;
    top: -12px;
}

.dots .dot:after {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #004bff;
    position: absolute;
    opacity: 0.3;
    animation: circle-outer 2s infinite ease-out;
    left: -25px;
    top: -25px;
}

@keyframes circle-inner {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }

    100% {
        opacity: 0.1;
        transform: scale(1.5);
    }
}
  
@keyframes circle-middle {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes circle-outer {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.8);
    }
}

.dots .dot-1 {
    left: 36%;
    top: 52%;
}

.dots .dot-2 {
    left: 78%;
    top: 70%;
}

.dots .dot-3 {
    left: 66%;
    top: 46%;
}

.modal {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* height: 100%; */
    /* width: 0; */
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.modal.show {
    /* display: block; */
    /* width: 100%; */
    height: 100vh;
}

.modal .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33,33,33, 0.5);
}

.modal .modal-content {
    position: absolute;
    width: 60vw;
    max-height: 80%;
    top: 10%;
    left: 20%;
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-radius: 5px;
}

.modal-content article figure {
    position: relative;
    margin: 10px 0;
}

.modal-content figcaption {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    padding: 17px;
    background-color: rgba(33,33,33, 0.6);
    color: #fff;
}

.modal-content article img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .dots .dot {
        width: 30px;
        height: 30px;
    }
    
    .dots .dot:before {
        width: 45px;
        height: 45px;
        left: -7px;
        top: -7px;
    }
    
    .dots .dot:after {
        width: 60px;
        height: 60px;
        left: -15px;
        top: -15px;
    }
}